body {
	background-color: #434343;
	height: 100%;
}

p {
	text-align: center;
	color: #FF9900;
	font-weight: bold;
	font-size: 16px;
}

.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #303030;
	border: none;
	border-bottom: 2px solid #666666;
}

#navbar-links a {
	color: #FF9900;
}

#navbar-links a:hover {
	text-decoration: underline;
}

#main-page-row {
	margin-top: 100px;
	background-color: #434343;	
}

#nav-col {
	text-align: center;
}

.btn {
	width: 150px;
	height: 40px;
	padding: 1px;
	margin: 5px;
	background-color: #666666;
	color: #FF9900;
	display: block;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #303030;
	border-top: 2px solid #666666;
}

#footer-text {
	padding-top: 2px;
	color: #FF9900;
	text-align: center;
}

#footer-text a {
	color: #FF9900;
	text-decoration: underline;
}

h1, 
label {
	color: #FF9900;	
}

p a {
	color: #FF9900;
	text-decoration: underline;
}

p a:hover {
	color: #FF9900;
	background-color: #666666;
}

.glyphicon-info-sign {
	font-size: 12px;
	color: #666666;
}

.toolbarBtn {
	width: 100%;
}

.channelBtn {
	width: 100%;
	height: 50px;
}

.live-button{
	padding: 3px;
}

.cueBtn {
	width: 95%;
}

#cue-col{
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;	
	height: 80vh;
	direction: rtl; 
	text-align: left;
}

.fixture-form-row{
	border-top: 2px solid #FF9900;
	margin-bottom: 5px
}

.fixture-form-btn{
	width: 75%;
	height: 30px;
	
}

.slick-slide {
	border: 1px dashed #FF9900;
	margin: 0 10px;
	padding-top: 10px;
	border-radius: 6px;
}

.slick-slide p {
	margin: 0;
}

.slick-slider {
	border: 2px solid #FF9900;
	padding: 5px;
	border-radius: 6px;
}

.channel-slider-div{
	width: 40px;
	float: left;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 100px;
	margin-right: 10px;
	margin-left: 10px;

}

.channel-slider-div input{
	width: 50px;
	position: relative;
	left: 5px;
	bottom: 7px;
}

.rc-slider-vertical{
	margin-left: 20px;
	margin-top: 20px;
}

.dmx-row{
	height: 40vh;
}

.channel-input{
	text-align: Center;
	background-color: rgba(153,153,153,1);
	color: #fff; 
	border-color: #FF9900;
}

/* Placeholder text coloring  */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*  Spinner buttons always showing  */
/* input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
	background-color: rgba(153,153,153,1);
	color: #FF9900;
} */

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* .tool-tip{
	display: inline;
	position: relative;
}
.tool-tip:hover:after
{
 background: #333;
 background: rgba(0,0,0,.8);
 border-radius: 5px;
  bottom: 26px; 
 color: #fff;
  content: attr(title); 
  left: 20%; 
padding: 5px 15px; 
 position: absolute;
 z-index: 98;
 width: 220px;
}
.tool-tip:hover:before
{
 z-index: 99;
} */